@font-face {
    font-family: 'circularbook';
    src: url('/assets/fonts/CircularStd-Book.woff2') format('woff2'),
        url('/assets/fonts/CircularStd-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'circularbold';
    src: url('/assets/fonts/CircularStd-Bold.woff2') format('woff2'),
        url('/assets/fonts/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'circularmed';
    src: url('/assets/fonts/CircularStd-Medium.woff2') format('woff2'),
        url('/assets/fonts/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
}

section p {
  font: 1.5rem 'circularbook', sans-serif;
}

.logo {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  position: fixed;
  top: 15px;
  left: 15px;
  transition: background 0.3s;
  width: 35px;
  font: 2.6rem/1.55 'circularbold', serif;
}

html {
  font-size: 10px;
}

body {
  background: #111;
  color: #fff;
  font-family: 'circularbook';
}

section {
  padding: 12.5%;
  width: 100%;
}
section:nth-of-type(even) {
  background: #fff;
  color: #111;
}

p {
  margin-bottom: 2.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  font: 5rem 'circularbold', sans-serif;
}

h2 {
  font: bold 2rem 'circularbold', sans-serif;
  margin-bottom: 2em;
  margin-top: 2em;
}

nav {
  mix-blend-mode: difference;
  z-index: 100;
      margin-bottom: 2em;
}
nav ul {
  position: fixed;
  top: 60px;
  right: 6px;
  height: 100vh;
  visibility: hidden;
  pointer-events: none;
  list-style: none;
  width: 35px;
}
nav ul li {
  font: 1rem/1.55 'circularmed', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.75em 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}
nav.active ul {
  visibility: visible;
  pointer-events: initial;
  transition-delay: 0.2s;
}

.nav-icon {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  position: fixed;
  top: 15px;
  right: 15px;
  transition: background 0.3s;
  width: 35px;
}
.nav-icon span {
  position: absolute;
  top: 15px;
  left: 5px;
  background: #fff;
  display: block;
  height: 3px;
  right: 5px;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.nav-icon span:before, .nav-icon span:after {
  width: 100%;
  height: 3px;
  background: #fff;
  content: "";
  display: block;
  left: 0;
  position: absolute;
}
.nav-icon span:before {
  top: -8px;
}
.nav-icon span:after {
  bottom: -8px;
}
.active .nav-icon span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.outlined {
      -webkit-text-stroke: 1px white;
    color: transparent;
}

/* --------------------------------------------------------
Flex Grid System

version: 0.03
author: Karan Sharma
----------------------------------------------------------*/
/* Grid
----------------------------------------------------------*/
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
}

.columns, .column {
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
  margin: 10px 0 10px 4%;
}

.column:first-child,
.columns:first-child {
  margin-left: 0;
}

.one {
  max-width: 4.6666666667%;
}

.two {
  max-width: 13.3333333333%;
}

.three {
  max-width: 22%;
}

.four {
  max-width: 30.6666666667%;
}

.five {
  max-width: 39.3333333333%;
}

.six {
  max-width: 48%;
}

.seven {
  max-width: 56.6666666667%;
}

.eight {
  max-width: 65.3333333333%;
}

.nine {
  max-width: 74%;
}

.ten {
  max-width: 82.6666666667%;
}

.eleven {
  max-width: 91.3333333333%;
}

.twelve {
  max-width: 100%;
  margin-left: 0;
}

.column-offset-0 {
  margin-left: 0;
}

.column-offset-1 {
  margin-left: 8.33333333%;
}

.column-offset-2 {
  margin-left: 16.66666667%;
}

.column-offset-3 {
  margin-left: 25%;
}

.column-offset-4 {
  margin-left: 33.33333333%;
}

.column-offset-5 {
  margin-left: 41.66666667%;
}

.column-offset-6 {
  margin-left: 50%;
}

.column-offset-7 {
  margin-left: 58.33333333%;
}

.column-offset-8 {
  margin-left: 66.66666667%;
}

.column-offset-9 {
  margin-left: 75%;
}

.column-offset-10 {
  margin-left: 83.33333333%;
}

.column-offset-11 {
  margin-left: 91.66666667%;
}

.between {
  justify-content: space-between;
}

.evenly {
  justify-content: space-evenly;
}

.around {
  justify-content: space-around;
}

.center {
  justify-content: center;
  text-align: center;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.top {
  align-items: flex-start;
}

.bottom {
  align-items: flex-end;
}

.middle {
  align-items: center;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.vertical {
  flex-flow: column wrap;
}

.row-align-center {
  align-items: center;
}

.space-right {
  margin-right: 10px;
}

.space-left {
  margin-left: 10px;
}

.space-bottom {
  margin-bottom: 10px;
}

.space-top {
  margin-top: 10px;
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w $breakpoint-tablet to $breakpoint-desktop
*/
@media screen and (max-width: 768px) {
  .container {
    overflow: auto;
  }

  .columns, .column {
    min-width: 100%;
    margin: 10px 0;
  }

  .column-offset-0,
.column-offset-1,
.column-offset-2,
.column-offset-3,
.column-offset-4,
.column-offset-5,
.column-offset-6,
.column-offset-7,
.column-offset-8,
.column-offset-9,
.column-offset-10,
.column-offset-11 {
    margin: unset;
  }
}

/*# sourceMappingURL=dist/flexit.css.map */